$color-primary-dark: #0093E9;
$color-primary-light: #80D0C7;
$color-primary-3: #5D27E5;

$color-black: #222B54;
$color-gray: #8F9BB3;
$color-white: #fff;
$color-favourite: #ff0180;
$color-warning: #ffc100;
$color-success: #00e096;
$color-disable: rgba(#8f9bb3, .48);

$font-size-heading1: 3.6rem;
$font-size-heading2: 3.2rem;
$font-size-heading3: 3rem;
$font-size-heading4: 2.6rem;
$font-size-heading5: 2.2rem;
$font-size-heading6: 1.8rem;

$font-size-subtitle1: 1.5rem;
$font-size-subtitle2: 1.3rem;

$font-size-paragraph1: 1.5rem;
$font-size-paragraph2: 1.3rem;


